<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="static/fontawesome/css/all.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="100x100" href="static/images/vv.png">
    <title>Login</title>
    <style>
      .ss{
        height: 600px;
      }
          *{
           font-family: banhschrift; 
        }
    .one{
        height: 1000px;
       
    }
    .ll{
      margin-top: 100px;
        background-image: url('static/images/door.jpg');
        background-size:100% 100%;
    }
    .kk{
      margin-top: 200px;
       
        
    }
    .ne{
        margin-left: 40px;
    }
    .form-control{
        padding-left: 200px;
    }
    #yy{
			color:orangered;height:4px;width: 50px;
		}
    .yy{
        text-decoration: none;
        color: red;
    }
   
    a{
        text-decoration: none;
        color: black;
    }
    .pp{
			height:500px;
			background-color: rgb(10, 6, 44);
		}
        .ff{
			height: 100px;
			background-color:rgb(4, 2, 24);
		}
    </style>
</head>
<body>
    <div class="container-fluid one">
      
				<nav class="navbar navbar-dark bg-light fixed-top">
					<div class="container-fluid" >
					  <a href="/"><img src="/static/images/volt.png" style="height: 100px;"></a>
					  
					  <button class="navbar-toggler btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon btn btn-dark"></span>
					  </button>
					  <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
					  <div class="offcanvas-header bg-dark">
						<h5 class="offcanvas-title text-light" id="offcanvasDarkNavbarLabel">MENU</h5>
						<button type="button" class="btn btn-outline-light" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
					  </div>
					  <div class="offcanvas-body bg-dark">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
						  <a class="nav-link active " aria-current="page" href="/">HOME</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link " href="/about">ABOUT US</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link " href="/contact">CONTACT US</a>
						  </li>
						
							{%if session.get('userid')==None%}
							<li class="nav-item">
							  <a class="nav-link " href="/login">LOGIN</a>
							  </li>
							  <li class="nav-item">
							
								<a class="nav-link " href="/signup">SIGN UP</a>
								</li>
								{%else%}
								<li class="nav-item">
									<a class="nav-link " href="/signout">LOGOUT</a>
									</li>
								{%endif%}
								{%if session.get('userid')!=None%}
						<li class="nav-item">
						  <a class="nav-link " href="/profile">PROFILE</a>
						  </li>
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  DELIVERY
						  </a>
						  <ul class="dropdown-menu dropdown-menu-dark">
						  <li><a class="dropdown-item " href="/delivery">SEND A PACKAGE</a></li>
						  <li><a class="dropdown-item" href="/trackingpage">TRACK A PACKAGE</a></li>
						  <li>
							<hr class="dropdown-divider">
						  </li>
						  {%endif%}
						  </ul>
						</li>text-dark
						</ul>
						<form class="d-flex mt-3" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-success" type="submit">Search</button>
						</form>
					  </div>
					  </div>
					</div>
					</nav>       
        <div class="row ss">
            <div class="col-md-1"></div>
            <div class="col-md-5 kk">
               <h1>Welcome to Volt!</h1>
			   
    {% set message =get_flashed_messages()%}
	{% for m in message%}
	<P class="alert alert-success bg-success text-light">{{m}}</P>
	{%endfor%}
        
                <form method="post" action="" >
                    <h1>LOGIN</h1>
					<div class="mb-3">
						{% if login.email.errors%}
						<p class="alert alert-danger">{{login.email.errors}}</p>
						{%endif%}
						  {{login.email(class_='form-control',placeholder="Enter Your email")}}
					  </div>
					  <div class="mb-3">
						{% if login.password.errors%}
						<p class="alert alert-danger">{{login.password.errors}}</p>
						{%endif%}
						  {{login.password(class_='form-control',placeholder="Enter Your password")}}
					  </div>
              
					  <div class="mb-3">
						{{login.btn(class_='btn btn-primary btn-lg')}}
					</div>
					
					{{login.csrf_token}}

    
                    </form> 
                    <div class="mt-3 "><a class='yy 'href="">forgot Password</a><br></div>
                   <div class="mt-3"> <span>Don't have a volt account? </span><span><a href="/signup" ><b>Register</b></a></span></div>




            </div>
            <div class="col-md-6 ll"><div class="col n" style="margin-top:0px;flex-direction:column"></div></div>

        </div>

    	
		<div class="row pp " >
			<div class="col-1"></div>
			<div class="col-3 text-light my-5  " ><p><b>Our Service</b></p><hr id="yy"  ><p class="mt-3">local Delivery</p><p class="mt-3">Haulage</p><p class="mt-3">courier,cargo and parcel</p><a href="/about" class="btn btn-light">About Us</a></div>
			<div class="col-1"></div>
			<div class="col-3 text-light my-5"><p><b>Location</b></p><hr id="yy" ><p>No 6 Bolajide Avenue,</p><p>Gbagada ,</p><p>Lagos State,</p><p>Nigeria.</p><a href="/contact" class="btn btn-light">contact us</a>
			</div>
			<div class="col-1"></div>
			<div class="col-2 text-light  my-5"><p><b>Order Now</b></p><hr id="yy" ><p>Order a ride now</p><p>Deliver your goods</p><p>Click Here</p><a  href="/signup" class="btn btn-light">Send Package</a></div>
			
		</div>
		<div class="row ff text-center text-light"><p class=" mt-5">copyright 2023 <b>Volt</b> All rights Reserved Designed by <b>OYOMA</b>  </p></div>
				</div>
				
			
		








    
				
			
		



<script type="text/javascript" src="static/bootstrap/js/bootstrap.bundle.js">
	

</script>
	</body>
	</html>