<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="static/fontawesome/css/all.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="100x100" href="static/images/vv.png">
    <title>Profile</title>
    <style>
        
       
        img {
          width: 300px;
            border-radius: 20%;
            object-fit: cover;
        }
        .cc{
        
            background-color:antiquewhite;
        }
        	.ff{
			height: 100px;
			background-color:rgb(4, 2, 24);
		}
        .pp{
			height:500px;
			background-color: rgb(10, 6, 44);
		} 
   
    *{
           font-family: banhschrift; 
        }
    .ss{
        margin-top: 60px;

    }
   
    .kk{
        margin-top: 30px;
        padding: 80px;
       
       
        
    }
    .ne{
        margin-left: 40px;
    }
    .form-control{
        padding-left: 200px;
    }
    #yy{
			color:orangered;height:4px;width: 50px;
		}
   
    a{
        text-decoration: none;
        color: black;
    }
    .ff{
			height: 100px;
			background-color:rgb(4, 2, 24);
		}
    </style>
</head>
<body>
 
    <div class="container-fluid">
       
				<nav class="navbar navbar-dark bg-light fixed-top">
					<div class="container-fluid" >
					  <a href="/"><img src="/static/images/volt.png" style="height: 100px;"></a>
					  
					  <button class="navbar-toggler btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon btn btn-dark"></span>
					  </button>
					  <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
					  <div class="offcanvas-header bg-dark">
						<h5 class="offcanvas-title text-light" id="offcanvasDarkNavbarLabel">MENU</h5>
						<button type="button" class="btn btn-outline-light" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
					  </div>
					  <div class="offcanvas-body bg-dark">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
						  <a class="nav-link active " aria-current="page" href="/">HOME</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link " href="/about">ABOUT US</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link " href="/contact">CONTACT US</a>
						  </li>
						
							{%if session.get('userid')==None%}
							<li class="nav-item">
							  <a class="nav-link " href="/login">LOGIN</a>
							  </li>
							  <li class="nav-item">
							
								<a class="nav-link " href="/signup">SIGN UP</a>
								</li>
								{%else%}
								<li class="nav-item">
									<a class="nav-link " href="/signout">LOGOUT</a>
									</li>
								{%endif%}
								{%if session.get('userid')!=None%}
						<li class="nav-item">
						  <a class="nav-link " href="/profile">PROFILE</a>
						  </li>
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  DELIVERY
						  </a>
						  <ul class="dropdown-menu dropdown-menu-dark">
						  <li><a class="dropdown-item " href="/delivery">SEND A PACKAGE</a></li>
						  <li><a class="dropdown-item" href="/trackingpage">TRACK A PACKAGE</a></li>
						  <li>
							<hr class="dropdown-divider">
						  </li>
						  {%endif%}
						  </ul>
						</li>text-dark
						</ul>
						<form class="d-flex mt-3" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-success" type="submit">Search</button>
						</form>
					  </div>
					  </div>
					</div>
					</nav>
    <div class="row mb-2"></div>
        <div class="row cc">
          <div class="col-3 text-center ss mt-3 mx-2 "style="border:4px solid black">

            <h2 class="ss bg-dark text-light " >PROFILE</h2>
            <div class="image">
             
                <img src="static/collection/{{userdeets.user_pix}}" class="img-fluid" style="width: 400px;" alt="profile picture">
                <p class="mt-2" style="background-color:black;font-size: 30px;color:aliceblue">Welcome <b>{{userdeets.username}} </b> </p>
            </div>
            

           <h4 class="mb-3"> <a class="btn btn-outline-dark mt-3" href="/signout">LOGOUT</a></h4>
           <h4 class="mb-3"> <a class="btn btn-outline-dark " href="/">HOME</a></h4>
           <h4 class="mb-3"> <a class="btn btn-outline-dark " href="/delivery">SEND PACKAGE</a></h4>

        </div>
           
          
            <div class="col-7 kk">
        
                
                    
              {% set message =get_flashed_messages()%}
              {% for m in message%}
              <P class="alert alert-
              success bg-success text-light">{{m}}</P>
              {%endfor%}       
                        
                    <form method="post" action="" enctype="multipart/form-data">
                      <h1>PROFILE DETAILS</h1>
            <div class="mb-3">
              {% if profile.fullname.errors%}
              <p class="alert alert-danger">{{profile.fullname.errors}}</p>
              {%endif%}
                {{profile.fullname(class_='form-control',value=userdeets.fullname)}}
              </div>
              <div class="mb-3">
                {% if profile.username.errors%}
                <p class="alert alert-danger">{{profile.username.errors}}</p>
                {%endif%}
                  {{profile.username(class_='form-control',value=userdeets.username)}}
                </div>
              <div class="mb-3">
               
              {% if profile.pix.errors%}
              <p class="alert alert-danger">{{profile.pix.errors}}</p>
              {%endif%}
                {{profile.pix(class_='form-control',placeholder="upload picture")}}
              </div>
                
              <div class="mb-3">
              {{profile.btn(class_='btn btn-dark btn-lg')}}
            </div>
            
            {{profile.csrf_token}}
  
      
                      </form> 
                        
                        
              
     
    
                    
    
    
                  
                    




            </div>
            <div class="col-2"></div>
            

        </div>

    


        <div class="row pp " >
            <div class="col-1"></div>
            <div class="col-3 text-light my-5  "><p><b>Our Service</b></p><hr id="yy"  ><p class="mt-3">local Delivery</p><p class="mt-3">Haulage</p><p class="mt-3">courier,cargo and parcel</p><a href="/about" class="btn btn-light">About Us</a></div>
            <div class="col-1"></div>
            <div class="col-3 text-light my-5"><p><b>Location</b></p><hr id="yy" ><p>No 6 Bolajide Avenue,</p><p>Gbagada ,</p><p>Lagos State,</p><p>Nigeria.</p><a href="/contact" class="btn btn-light">contact us</a></div>
            <div class="col-1"></div>
            <div class="col-2 text-light  my-5"><p><b>Order Now</b></p><hr id="yy" ><p>Order a ride now</p><p>Deliver your goods</p><p>Click Here</p><a  href="/signup" class="btn btn-light">Send Package</a></div>
            
          </div>
          <div class="row ff text-center text-light"><p class=" mt-5">copyright 2023 <b>Volt</b> All rights Reserved Designed by <b>OYOMA</b>  </p></div>


    </div>
				
			
		



<script type="text/javascript" src="static/bootstrap/js/bootstrap.bundle.js">
	

</script>
	</body>
	</html>